<div class="m-auto container text-center">
  <h1 class="text-4xl text-highlight-10 font-extrabold">Something went wrong.</h1>
  <p class="py-4 text-neutral-12">It looks like Ceramic encountered some issues and failed to load the data associated to this address.</p>
  <p class="py-4 font-bold text-true-white">Please reload the page to try again.</p>
</div> 